/* __________ 1/ PROPRIETES INHERENTES AU SITE __________ */
/* __________ 1/1. Police de caractère __________ */
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kalam&family=Kaushan+Script&family=Montserrat&family=Righteous&display=swap');
a {
  text-decoration: none;
  color: inherit;
}
/* __________ 1/2. Propriétés de <header> __________ */
header {
  height: 160px;
  background: #579C87;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {  
  font-family: 'Righteous', cursive;
  color: #fcca46;
  font-size: 5rem;  
}
/* __________ 1/3. Propriétés de <footer> __________ */
footer {
  height: 90px;
  background: #579C87;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width: 100%;  
  position: fixed;
  bottom: 0; 
}
footer a {  
  font-family: 'Montserrat', sans-serif;
  color: #fcca46;
  font-size: 1.8rem;  
  margin: 2rem;
}
/* __________ 2/ PROPRIETES INHERENTES A LA PAGE D'ACCUEIL __________ */
/* __________ 2/X. Propriétés de <main> __________ */
.links {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  margin: 2rem; 
}
.link {
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 6px grey;
  margin: 2rem;
}
.link a {
  text-align: center;
}
.link h2 {
  font-size: 2rem;
  padding: .5rem;
  margin-bottom: 2rem;
}
.link p {
  font-size: 2rem;
  padding: .5rem;
}
.link img {
  height: 40px;
  width: 40px;
  margin-bottom: 2rem;
}
.link .gradient2 {
  font-size: 1.4rem;
}
button {
  width: 350px;
  background: #579C87;
  display: flex;    
  justify-content: center;  
  border-radius: 15px;
  border: none;
  margin: auto;
  margin-bottom: 150px;
}
button p {
  font-family: 'Montserrat', sans-serif;
  color: #fcca46;
  font-size: 2rem;
  margin: 1rem; 
}